<h2 class="page-header"> Dashboard </h2>
<p>Welcome to your Dashboard</p>


<div *ngFor="let msg of messages">
  <div style ="background-color: lightblue;">
    <p> {{ msg.username }} </p>
    <p> <b> {{ msg.post }} </b> </p>
    <p> {{ msg.date }} </p>
  </div>
  <br>
</div>


<form (submit)="onRegisterSubmit()">

  <div class="form-group">
    <label>msg</label>
    <input type="text" [(ngModel)]="msg" name="msg" class="form-control" >
  </div>


  <input type="submit" class="btn btn-primary" value="Submit">
</form>
